{% extends "::main.html.twig" %}

{% block container %}
    <div class="container-fluid app-container">
        <div class="row">
            <div class="col-xl-2 col-md-3 col-sm-4">
                <h5 class="app-nav-sidebar-header">{{ 'Quick links' | trans }}</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'Create a project' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'Load a BOM' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'Search for parts' | trans }}</a>
                    </li>
                </ul>
                <h5 class="app-nav-sidebar-header">{{ 'BOMs' | trans }}</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'End customers list' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'Projects list' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'BOMs list' | trans }}</a>
                    </li>
                </ul>
                <h5 class="app-nav-sidebar-header">{{ 'Suppliers' | trans }}</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'Suppliers list' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'Stats' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ 'APIs' | trans }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-10 col-md-9 col-sm-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}