{% extends "::master.html.twig" %}

{% block title %}
    {{ 'title.admin' | trans }} - {{ parent() }}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-xl-2 col-md-3 col-sm-4">
            <h5>{{ 'leftmenu.title.stats' | trans }}</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ 'leftmenu.stats.dashboard' | trans }}</a>
                </li>
            </ul>
            <h5 class="app-nav-sidebar-header">{{ 'leftmenu.title.users' | trans }}</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_users_index') }}">{{ 'leftmenu.users.list' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_users_new') }}">{{ 'leftmenu.users.create' | trans }}</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-10 col-md-9 col-sm-8">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}