{% extends "::master.html.twig" %}

{% block title %}
    {{ 'title.dev' | trans }} - {{ parent() }}
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-xl-2 col-md-3 col-sm-4">
            <h5>{{ 'leftmenu.title.quick_links' | trans }}</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ 'leftmenu.dev.api_digikey' | trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('jms_translation_index') }}">{{ 'leftmenu.dev.translations' | trans }}</a>
                </li>
            </ul>
        </div>
        <div class="col-xl-10 col-md-9 col-sm-8">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}