<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ 'app.title' | trans }}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <a class="navbar-brand" href="{{ path('home') }}">{{ 'app.title' | trans }}</a>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">
                    <i class="fa fa-home"></i>
                    {{ 'topmenu.home' | trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('crm_ecus_index') }}">
                    <i class="fa fa-building"></i>
                    {{ "topmenu.customers" | trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('srm_suppliers_index') }}">
                    <i class="fa fa-industry"></i>
                    {{ "topmenu.suppliers" | trans }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('bom_index') }}">
                    <i class="fa fa-money"></i>
                    {{ "topmenu.bom" | trans }}
                </a>
            </li>
            {% if app.environment == "dev" %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dev') }}">
                        <i class="fa fa-cog"></i>
                        {{ "topmenu.dev" | trans }}
                    </a>
                </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                    {{ 'topmenu.my_account' | trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">{{ 'topmenu.connected_as ' | trans }}{{ app.user.username }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'topmenu.profile_view' | trans }}</a>
                    <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">{{ 'topmenu.profile_edit' | trans }}</a>
                    <a class="dropdown-item" href="{{ path('fos_user_change_password') }}">{{ 'topmenu.change_password' | trans }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'topmenu.logout' | trans }}</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="float-right">
        {% if app.request.locale != 'fr' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale': 'fr'})) }}">
                <img src="{{ asset('images/flags/fr.png') }}" alt="Example" class="image-flag"/>
            </a>
        {%  endif %}
        {% if app.request.locale != 'en' %}
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale': 'en'})) }}">
                <img src="{{ asset('images/flags/en.png') }}" alt="Example" class="image-flag"/>
            </a>
        {%  endif %}
    </div>
</nav>
{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable fade show app-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
{% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info alert-dismissable fade show app-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
{% for message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning alert-dismissable fade show app-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
{% for message in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger alert-dismissable fade show app-alert" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
<div class="container-fluid app-container">
    {% block container %} {% endblock %}
</div>
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
