{% extends '::layout.srm.html.twig' %}

{% block content %}
    <h1>{{ 'edit.title' | trans({}, "interface") }}</h1>
    <p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'form.button.save' | trans }}" class="btn btn-primary" />
        {{ form_end(form) }}
    </p>
{% endblock %}