{{ form_start(form) }}
{{ form_rest(form) }}
<div class="pull-right">
    <input type="submit" value="{{ 'form.button.load' | trans }}" class="btn btn-primary" />
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'modal.button.close' | trans }}</button>
</div>
{{ form_end(form) }}