<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ 'security.login.title' | trans }}</title>
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />
    <link rel="stylesheet" href="{{ asset('build/login.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container app-container">
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
<script src="{{ asset('build/login.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
