{% extends '::layout.crm.html.twig' %}

{% block content %}
    <h1>{{ 'ecu.index.title' | trans }}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'ecu.label.name' | trans }}</th>
            <th>{{ 'ecu.label.country' | trans }}</th>
            <th>{{ 'table.header.action' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for ecu in list %}
            <tr>
                <td>{{ ecu.name }}</td>
                <td>{{ ecu.country }}</td>
                <td class="index-action">
                    <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#ecu_{{ loop.index }}" data-tooltip="tooltip" data-placement="top" title="{{ 'tooltip.view' | trans }}"><i class="fa fa-list"></i></button>
                    {% if is_granted('ROLE_SUPPLIER_ADMIN') %}
                        <a href="{{ path('crm_ecus_edit', { 'id': ecu.id }) }}"><button type="button" class="btn btn-sm btn-primary" data-tooltip="tooltip" data-placement="top" title="{{ 'tooltip.edit' | trans }}"><i class="fa fa-edit"></i></button></a>
                        <a href="{{ path('crm_ecus_delete', { 'id': ecu.id }) }}"><button type="button" class="btn btn-sm btn-danger" data-tooltip="tooltip" data-placement="top" title="{{ 'tooltip.delete' | trans }}"><i class="fa fa-times"></i></button></a>
                    {% endif %}
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
    {% if nbPages > 1 %}
        <nav class="float-right">
            <ul class="pagination">
                <li class="page-item{% if page < 2 %} disabled{% endif %}">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {% for i in 1..nbPages %}
                    {% if i == page %}
                        <li class="page-item active">
                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('crm_ecus_index', { 'page': i }) }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="page-item{% if page >= nbPages %} disabled{% endif %}">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    {% endif %}
    {% for ecu in list %}
        <div class="modal fade" id="ecu_{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ecu_{{ loop.index }}_Label">{{ ecu.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <dl class="row">
                            <dt class="col-md-4">{{ 'ecu.label.name' | trans }}: </dt>
                            <dd class="col-md-8">{{ ecu.name }}</dd>
                            <dt class="col-md-4">{{ 'ecu.label.address' | trans }}: </dt>
                            <dd class="col-md-8">
                                {{ ecu.country }}<br/>
                            </dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'modal.button.close' | trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}