{% extends '::layout.crm.html.twig' %}

{% block content %}
    <h1>{{ 'ecu.new.title' | trans }}</h1>
    <p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'form.button.create' | trans }}" class="btn btn-primary pull-right" />
        {{ form_end(form) }}
    </p>
{% endblock %}